@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-gray {
  color: #464646;
}
.text-black {
  color: #000000;
}
.text-white {
  color: #ffffff;
}
.text-darkGray {
  color: #3d3d3d;
}
.text-yellow {
  color: #ffbb01;
}

@font-face {
  font-family: "Besthia Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Besthia Display Regular"),
    url("BesthiaDisplayRegular-ZV7VK.woff") format("woff");
}

.headingFont {
  font-family: "Besthia Display Regular";
}

.sectionHeading {
  font-family: "Besthia Display Regular";
  font-weight: 400;
  padding: 0rem 2rem 0rem 0rem;
  border-bottom: 2px solid #ffbb00;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
